<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Holland</title>
    <script src="https://kit.fontawesome.com/151309c969.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="projectstyle.css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href='img/logo.png'/>
</head>
<body>
    <nav>   
        <div class="logo">
            <a href="homepage.html"><img src="img/logo.png" alt="logo" class="logopic" ></a>
        </div>
        </a>
        <div class="searchbar">
            <input type="search" placeholder="Search..." class = "searchText">
            
                <i class="fas fa-search"></i>
        </div>

        <ul>
        
            <li><button class="log"><a href="login.html">Log in</a></button></li>
            <li><button class="dark-btn" onclick="darkmode()">Dark/Light Mode</button></li>
        </ul>
        
    </nav>

    <div class="actorinfo">
        <div class="actorname">
        <img src="img/tom.jpg" alt="Tom Holland">
        <h2>Tom Holland</h2>
        </div>
        <p>Thomas Stanley Holland is an English actor. A graduate of the BRIT School in London, he began his acting career on stage in the title role of Billy Elliot the Musical in London's West End from 2008 to 2010.</p>
    </div>
    
</body>
</html>