<html lang="en">
<head>
    
    <script src="https://kit.fontawesome.com/151309c969.js" crossorigin="anonymous"></script>
    
    <script src="script.js"></script>
    <link rel="stylesheet" href="projectstyle.css">
    <link rel="shortcut icon" type="image/jpg" href='img/logo.png'/>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchables</title>

</head>
<body>

<nav> 
    <div class="logo">
        <a href="homepage.html"><img src="img/logo.png" alt="logo" class="logopic" ></a>
    </div>
    <div class="searchbar">
        <input type="search" placeholder="Search..." class = "searchText">
        <a class="searchIcon" href="#" >
            <i class="fas fa-search" ></i>
        </a>
    </div>
    
    <ul>
        
        <li><button class="log"><a href="login.html">Log in</a></button></li>
        <li><button class="dark-btn" onclick="darkmode()">Dark/Light Mode</button></li>
    </ul>
</nav>


<div class="trend">
    <h2 class="trendtitle">Latest</h2>
    <div class="info">
        <a href="movie.html"><img src= "img/devil.jpg" alt="the devil all the time poster" class="movie"></a>
    <div class="text">
    <a href="movie.html" class="title"><h2>The Devil All the Time (2020)</h2></a>
    <p>Sinister characters converge around a young man devoted to protecting those he loves in a postwar backwoods town teeming with corruption and brutality..
    </p>
    <p class="cast">Cast:
        <a href="actor.html">Tom Holland</a><br>
        Director:
        <a href="#">Antonio Campos</a>
    </p>
    <h2 class="next">Up Next</h2>
    <div class="otherMovies">
        
        <div class="posters">
        <img src="img/witches.jpg" alt="witches poster" >
        <p>Witches</p>
        </div>
        <div class="posters">
            <img src="img/enolaposter.jpg" alt="Enola Holmes Poster" >
            <p>Enola Holmes</p>
        </div>
        
    </div>
    </div>
    
    </div> <br>

    
    
    
</div>
    
</body>
</html>

<!-- change the whole trend div into a grid and organize the items accordingly -->