<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/151309c969.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="projectstyle.css">
    <script src="script.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href='img/logo.png'/>
    <title>Log In</title>
</head>
<body>

    <nav> 
        
        <div class="logo">
            <a href="homepage.html"><img src="img/logo.png" alt="logo" class="logopic" ></a>
        </div>
        </a>
        <div class="searchbar">
            <input type="search" placeholder="Search..." class = "searchText">
            
                <i class="fas fa-search"></i>
            
        </div>
    
        <ul>
            <li><button class="dark-btn" onclick="darkmode()">Dark/Light Mode</button></li>
        </ul>

    </nav>

    <div class="login-div">

        <h1>Login</h1>
        <div class="fields">
            <i class="fas fa-user"></i>
            Username: <input type="text" placeholder="eg: @janedoe"><br><br>
        </div>

        <div class="fields">
            <i class="fas fa-lock"></i>
            Password: <input type="password" placeholder="*********">
        </div>
        
        <div class="forgot"><a href="forgot.html">Forgot your password?</a></div><br>
        
        <a href="profile.html"><button type="button" class="btn">Sign In</button><br></a>
        
        <div class="sign-up"><a href="signup.html">Create a new account</a></div>
        <br><br>
        
            
        
    </div>
    

</body>
</html>