<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://kit.fontawesome.com/151309c969.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="projectstyle.css">
    <script src="script.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href='img/logo.png'/>
</head>
<body>
    
    <nav>   
        <div class="logo">
            <a href="homepage.html"><img src="img/logo.png" alt="logo" class="logopic" ></a>
        </div>
        </a>
        <div class="searchbar">
            <input type="search" placeholder="Search..." class = "searchText">
            
                <i class="fas fa-search"></i>
        </div>

        <ul>
        
            
            <li><button class="dark-btn" onclick="darkmode()">Dark/Light Mode</button></li>
        </ul>

    </nav>

    <div class="profileDiv">
        <img src="img/avatar.png" alt="icon">
        <div class="userinfo">
            <h3>Name: Jane Doe</h3>
            <h4>Username: @janedoe</h4>
            <button>Change Password</button>
            <button>Upgrade to contributing user</button>
        </div>

        <div class="stats">
            <p>Been a user since: October 2020</p>
           <a href="#">Total number of ratings: 30</a> <br> <br>
           <a href="#">Followers: 20</a> <br> <br>
           <a href="following.html" >Following: 10</a> 
        </div>
    </div>
    
</body>
</html>