html(lang="en")
    head
        include ../partials/header
        title Search
    body

    include ../partials/navbar
    .trend
        h1 Error: We couldn't find the resource you were looking for!
