html(lang="en")
    head
        include ../partials/header
        title Search
    body

    include ../partials/navbar
    .trend
        h1 Empty search! Please enter a word or phrase in the search bar above and try again.
